
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="width: 100%; background-color: #eee;">
        <div style="max-width: 500px; margin: 0 auto; background-color: #fff">
            {{>header}}
            <div style="padding: 12px 15px 10px; border-bottom: 1px solid #049869">
                <p style="margin:0;">
                    Welcome Friend.
                </p>
                
                <p style="font-size: 13px">
                    <em>This is an automated email, please do not reply to it.</em>
                </p>
            </div>
            {{>footer}}
        </div>
    </div>
</body>
</html>