<p>
  Don't recognize this activity? Please
  <a href='' style='color: #4338ca;'>lock your funds</a>
  and contact
  <a href='' style='color: #4338ca;'>customer support</a>
  immediately.
</p>
<p style='font-size: 13px;'>
  <em>This is an automated email, please do not reply to it.</em>
</p>